@import "./variables";

.footer {
  background-color: $black;
  padding: 5rem;
  display: flex;
  justify-content: space-evenly;

  @include mobile {
    flex-wrap: wrap;
  }
  @include tablet-ipad {
    flex-direction: column;
    place-items: center;
  }

  &__span {
    color: $rojo;
  }

  i {
    font-size: 2rem;
    color: $rojo;

    @include desktop-fhd {
      font-size: 3rem;
    }
  }
  & h2 {
    font-size: 3.5rem;
    color: $white;
    margin-top: 2rem;

    @include desktop-fhd {
      font-size: 4rem;
    }
  }

  &__contacto {
    display: flex;
    align-items: center;

    @include mobile {
      flex-wrap: wrap;

      .fa-arrow-right {
        display: none;
      }
    }

    h5 {
      color: $white;
      margin: 10px;
      font-size: 2rem;
      margin-bottom: 1rem;
      @include mobile {
        margin-top: 2rem;
      }

      @include desktop-fhd {
        font-size: 3rem;
      }
    }

    p {
      color: $white;
      font-size: 1.5rem;
      font-family: "Lato";
      font-weight: 600;

      @include desktop-fhd {
        font-size: 2.3rem;
      }
    }

    span {
      color: $rojo;
      font-family: "Nunito";
    }
  }

  &__redes {
    display: flex;
    flex-direction: column;

    @include mobile {
      flex-direction: row;
      margin-top: 3rem;
    }

    @include tablet-ipad {
      flex-direction: row;
    }

    & i {
      transition: transform 1s;
      color: $white;
      border: 2px solid $rojo;
      padding: 10px;
      border-radius: 30px;
      @include mobile {
        margin: 1rem 1rem;
      }

      @include desktop-fhd {
        font-size: 2rem;
      }
      @include tablet-ipad {
        margin: 1rem;
      }
    }

    & i:hover {
      color: $rojo;
      transform: scale(1.2, 1.2);
    }
  }
}
