@import "./variables";

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;

  &__subtitle {
    align-self: center;
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 3rem;
  }

  &__divisor {
    height: 6px;
    width: 60px;
    background-color: $rojo;
  }
  .conteiner {
    display: flex;
    margin-bottom: 7rem;
    i {
      font-size: 5rem;
      margin: 0rem 1.3rem;
      transition: transform 1s;
      &:hover {
        transform: scale(1.6);
      }
    }
    em {
      margin-top: 1rem;
      font-size: 3rem;
      transform: transform 1s;
    }
  }
}
